venv
.env
db.sqlite3
*pycache*
*.pyc
__pycache__/
superadmin_app/migrations
clinical_panel_app/migrations
authentication_app/migrations
doctor_app/migrations
patient_app/migrations
virtual_env
db.sqlite3
